body {
  margin-top: 1em;
}
form {
  padding: 20px;
}
#title {
  color: white;
  background-color: black;
}
.jumbotron {
margin: 1em;
color: white;
background-image: url("img/1.jpg");
background-size: cover;
}
.form-control {
   margin-left: 25em;
   align-items: flex-end;
}
.label-control{
  position: absolute;
}
#calculation{
  margin-left: 2em;
}
